.form {
  //To ensure unifrom vertical padding
  $form-padding-y: 1.4rem;
  @include flex(null);
  align-self: flex-start;
  &__wrapper {
    position: relative;
    flex: 0 0 70%;
  }
  &__input {
    border-radius: 30px;
    background-color: #fff;
    padding: $form-padding-y 1.8rem;
    margin-right: 1rem;
    @include media(840px) {
      width: 100%;
    }
  }
  &__error {
    position: absolute;
    bottom: -30px;
    left: 10px;
    color: $primary-bright-red;
  }
  .btn {
    padding-top: $form-padding-y;
    padding-bottom: $form-padding-y;
    flex: 0 0 27%;
  }
  @include media(840px) {
    justify-content: space-between;
    align-self: stretch;
  }
}
